  * {
    box-sizing: border-box;
    margin: 0;
}



.btn, .form-input {
  display: block;
  width: 250px;
}

header {
  background: linear-gradient(70deg, blue, pink);
    box-sizing: border-box;
}

.headertitle {
    display: flex;
    justify-content: center;
}



.city-display-card {
  margin: 4px;
  width: fit-content;
}

#smallcard {
  display: flex;
  flex-direction: row;
}

#weatherinfo {
  display: flex;
  flex-direction: column;
}

#weatherdetails {
  display: flex;
  flex-direction: column;
}